<h1>Following Api's Were Used in This Tracker</h1>
<p>State Data</p>
<p>
  curl --location --request GET 'https://api.covidindiatracker.com/state_data.json' \
--data-raw '
</p>
<p>District Data</p>
<p>
  curl --location --request GET 'https://api.covid19india.org/state_district_wise.json' \
--data-raw '
</p>
<p>Tatal India Data</p>
<p>
  curl --location --request GET 'https://api.covidindiatracker.com/total.json' \
--data-raw '
</p>
<p>Refrerred From Github's</p>
<p>https://github.com/covid19india/api</p>
<p>https://documenter.getpostman.com/view/11238297/SzfDwQdd?version=latest</p>