p {
  font-family: Lato;
}
mat-sidenav-container{
  height: 100vh;
}
mat-sidenav{
  width: 250px;
}
.testing{
  justify-content: space-between;
}
mat-toolbar{}
.navright{
  padding-right: 1rem;
}

mat-list-item{
  padding: 48px;
  border-bottom: 2px solid black
}
.example-card{
  max-width: 1300px;
  text-align:center; 
  margin: auto
}